.c-button {
    &__white,
    &__white a {
        border-radius: 100vh;
        padding: 15px 110px;
        color: $color_yellow;
        background-color: #fff;
        &:hover {
            background-color: $color_brown;
            color: #fff;
        }
    }
    &__yellow,
    &__yellow a {
        border-radius: 100vh;
        padding: 15px 110px;
        color: #fff;
        background-color: $color_yellow;
        &:hover {
            background-color: $color_brown;
            color: $color_yellow;
        }
    }
    &__map,
    &__map a {
        border-radius: 5px;
        padding: 10px 30px;
        color: #fff;
        background-color: $color_yellow;
        &:hover {
            background-color: $color_brown;
            color: $color_yellow;
        }
    }
}
.c-button__padding{
    padding: 0 50px;
}
.c-button__white__padding{
    padding-bottom: 220px;
}
.c-button__yellow__padding{
    padding: 80px 0 100px;
}
