.c-wave {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    &__bottom{
        transform: scale(-1, 1);
    }
    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 40px;
    }
    .shape-fill {
        fill: #fff;
    }
}
