.p-concept {
    padding: 50px 0 0;
    text-align: center;
    p {
        padding-top: 30px;
        line-height: 3.8em;
    }
    &__bear img {
        width: 50%;
        margin-top: -23px;
    }
}
