.p-concept {
    padding: 50px 0 0;
    text-align: center;
    position: relative;
    p {
        padding-top: 30px;
        line-height: 3.8em;
    }
    &__bear img {
        width: 45%;
        margin-top: -27px;
    }
    &__flower1 img {
        width: 20%;
        height: auto;
        position: absolute;
        top: 5%;
        left: 25%;
    }
    &__flower2 img {
        width: 20%;
        height: auto;
        transform: scale(-1, 1);
        position: absolute;
        top: 5%;
        right: 25%;
    }
}

@media (max-width: 1650px) {
    .p-concept {
        /* 横幅が1650px以下の場合に適用するスタイル */
        &__flower1 img {
            width: 30%;
            height: auto;
            position: absolute;
            top: 3%;
            left: 15%;
        }
        &__flower2 img {
            width: 30%;
            height: auto;
            transform: scale(-1, 1);
            position: absolute;
            top: 3%;
            right: 15%;
        }
    }
}
