.p-full {
  text-align: center;
  margin: 0 auto;
  background: url(../images/main.png) no-repeat;
  background-size: cover;
  height: 100vh;
  padding-bottom: 135px;
  h1 img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
