.p-menu{
    text-align: center;
    background-color: $color_yellow;
    position: relative;
    h2{
        padding-top: 115px;
        border-bottom: 3px dotted #fff;
    }
    p,div,h3{
    width: 85%;
    margin: auto;
    }
    p{
        line-height: 2em;
        letter-spacing: 0.2em;
    }
    &__text{
        text-align: left;
        font-size: 0.8em;
        line-height: 2.2em;
    }
    img{
        width: 120%;
        margin-left: -60px;
    }
    &__img img{
        margin-left: -55px;
    }
    &__flex{
        margin: 0 auto;
        width: 1000px;
        display: flex;
    }
    &__menuwrap{
        padding-bottom: 60px;
    }
    &__menu1{
        margin-top: 80px;
    }
    &__menu2{
        margin-top: -50px;
    }
    &__menu3{
        margin-top: -50px;
    }
    &__bear1 img{
        width: 40%;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__bear2 img{
        width: 40%;
        position: absolute;
        top: 75%;
        right: 60%;
    }
}