.p-news{
    padding-top: 110px;
    text-align: center;
    h2{
        padding-top: 15px;
    }
    &__new{
        text-align: left;
    }
    img{
        padding-top:50px;
        width: 65%;
    }
}