@charset "UTF-8";
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
TODO will need to remove settings on HTML since we can't namespace it.
TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #fff;
  overflow: scroll;
  overflow: -moz-scrollbars-vertical;
  overflow-x: scroll;
}

/*TODO remove settings on BODY since we can't namespace it.*/
/*TODO test putting a class on HEAD.- Fails on FF.*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

#wrapper {
  margin: 0;
  padding: 0;
}

#content {
  margin: 0;
  padding: 0;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

/*補足*/
a {
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  /*background: url(../images/comp.jpg);*/
  background-size: 100vw;
  color: #3f1c00;
}

a {
  color: #3f1c00;
  text-decoration: none;
}

h2 {
  display: inline-block;
  text-align: center;
  font-family: "Kaisei Decol", sans-serif;
  color: #3f1c00;
  font-size: 2em;
  letter-spacing: 0.3em;
  padding-bottom: 10px;
  border-bottom: 3px dotted #f6ce54;
}

h2 span {
  color: #f6ce54;
}

h3 {
  font-family: "Kaisei Decol", sans-serif;
  font-size: 1.7em;
  letter-spacing: 0.3em;
}

.fade {
  margin-top: 80vh;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.fade.view {
  opacity: 1;
}

.l-header ul {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 100;
}

.l-header ul li {
  padding: 40px 30px 0;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 1.2em;
}

.l-header ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-header ul li a:hover {
  color: #835e25;
}

.l-header ul li a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: "";
  width: 100%;
  border-bottom: dotted 3px #f6ce54;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-header ul li a:hover::after {
  bottom: -5px;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .l-header {
    /* 横幅が768px以下の場合に適用するスタイル */
  }
  .l-header ul li {
    padding: 30px 5px 0;
    font-size: 0.5em;
  }
}

.l-main div, .l-main p {
  margin: 0 auto;
}

.l-footer {
  padding: 100px 0 50px;
  margin: 0 auto;
  width: 100%;
  background-color: #f6ce54;
  position: relative;
}

.l-footer__logo {
  text-align: center;
}

.l-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 20px;
  margin-top: 25px;
}

.l-footer ul li {
  padding: 0 10px;
  font-weight: bold;
}

.l-footer__copy {
  text-align: center;
  font-size: 0.8em;
}

.l-footer__honeycomb2 img {
  width: 22%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .l-footer {
    /* 横幅が768px以下の場合に適用するスタイル */
  }
  .l-footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 20px;
    margin-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-footer ul li {
    padding: 5px 0;
    font-weight: bold;
  }
}

.p-full {
  text-align: center;
  margin: 0 auto;
  background: url(../images/main.png) no-repeat;
  background-size: cover;
  height: 100vh;
  padding-bottom: 135px;
}

.p-full h1 img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@media (max-width: 768px) {
  .p-full {
    /* 横幅が768px以下の場合に適用するスタイル */
  }
  .p-full h1 img {
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.p-concept {
  padding: 100px 0;
  text-align: center;
  position: relative;
}

.p-concept br {
  display: none;
}

.p-concept__txt div {
  padding-top: 10px;
  line-height: 3.8em;
}

.p-concept__txt div br {
  display: none;
}

.p-concept__bear img {
  width: 30%;
  margin-top: 50px;
}

.p-concept__flower1 img {
  width: 15%;
  height: auto;
  position: absolute;
  top: 15%;
  left: 25%;
}

.p-concept__flower2 img {
  width: 15%;
  height: auto;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  position: absolute;
  top: 15%;
  right: 25%;
}

@media (max-width: 1650px) {
  .p-concept {
    /* 横幅が1650px以下の場合に適用するスタイル */
  }
  .p-concept__flower1 img {
    width: 20%;
    height: auto;
    position: absolute;
    top: 15%;
    left: 20%;
  }
  .p-concept__flower2 img {
    width: 20%;
    height: auto;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    position: absolute;
    top: 15%;
    right: 20%;
  }
}

@media (max-width: 1365px) {
  .p-concept {
    /* 横幅が1365px以下の場合に適用するスタイル */
  }
  .p-concept__flower1 img {
    width: 20%;
    height: auto;
    position: absolute;
    top: 15%;
    left: 20%;
  }
  .p-concept__flower2 img {
    width: 20%;
    height: auto;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
    position: absolute;
    top: 15%;
    right: 20%;
  }
}

@media (max-width: 768px) {
  .p-concept {
    /* 横幅が768px以下の場合に適用するスタイル */
  }
  .p-concept br {
    display: inline;
  }
  .p-concept__txt div br {
    display: inline;
  }
  .p-concept__bear img {
    width: 50%;
    margin-top: 50px;
  }
  .p-concept__flower1 img {
    display: none;
  }
  .p-concept__flower2 img {
    display: none;
  }
}

.p-menu {
  text-align: center;
  background-color: #f6ce54;
  position: relative;
}

.p-menu br {
  display: none;
}

.p-menu h2 {
  padding-top: 115px;
  border-bottom: 3px dotted #fff;
}

.p-menu p, .p-menu div, .p-menu h3 {
  width: 85%;
  margin: auto;
}

.p-menu p {
  line-height: 2em;
  letter-spacing: 0.2em;
}

.p-menu__text {
  text-align: left;
  font-size: 0.8em;
  line-height: 2.2em;
}

.p-menu__flex {
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-menu__flex img {
  width: 100%;
}

.p-menu__menuwrap {
  padding-bottom: 60px;
}

.p-menu__menu1 {
  margin-top: 80px;
}

.p-menu__menu2 {
  margin-top: -50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.p-menu__menu3 {
  margin-top: -50px;
}

.p-menu__bear1 img {
  width: 25%;
  position: absolute;
  top: 5%;
  right: 5%;
}

.p-menu__bear2 img {
  width: 35%;
  position: absolute;
  top: 75%;
  right: 60%;
}

.p-menu__tree1 img {
  width: 21%;
  position: absolute;
  top: 5%;
  right: 75%;
}

.p-menu__tree2 img {
  width: 21%;
  position: absolute;
  top: 15%;
  left: 75%;
}

@media (max-width: 1650px) {
  .p-menu {
    /* 横幅が1650px以下の場合に適用するスタイル */
  }
  .p-menu__bear2 img {
    width: 35%;
    position: absolute;
    top: 80%;
    right: 60%;
  }
  .p-menu__tree1 img {
    width: 20%;
    position: absolute;
    top: 7%;
    right: 77%;
  }
  .p-menu__tree2 img {
    width: 20%;
    position: absolute;
    top: 42%;
    left: 77%;
  }
}

@media (max-width: 1365px) {
  .p-menu {
    /* 横幅が1365px以下の場合に適用するスタイル */
  }
  .p-menu__flex {
    margin: 50px auto 25px auto;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-menu__flex img {
    width: 60%;
  }
  .p-menu__bear2 img {
    width: 35%;
    position: absolute;
    top: 85%;
    right: 60%;
  }
  .p-menu__tree1 img {
    width: 20%;
    position: absolute;
    top: 7%;
    right: 77%;
  }
  .p-menu__tree2 img {
    width: 20%;
    position: absolute;
    top: 60%;
    left: 77%;
  }
}

@media (max-width: 768px) {
  .p-menu {
    /* 横幅が768px以下の場合に適用するスタイル */
  }
  .p-menu br {
    display: inline;
  }
  .p-menu h3 {
    font-size: 1.2em;
    padding: 20px 0 10px 0;
  }
  .p-menu__text {
    padding-top: 10px;
  }
  .p-menu__price {
    font-size: 0.8em;
  }
  .p-menu__flex {
    margin: 50px auto 25px auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-menu__flex img {
    width: 60%;
  }
  .p-menu__bear2 img {
    width: 35%;
    position: absolute;
    top: 88%;
    right: 60%;
  }
  .p-menu__tree1 img {
    width: 20%;
    position: absolute;
    top: 5%;
    right: 77%;
  }
  .p-menu__tree2 img {
    width: 20%;
    position: absolute;
    top: 77%;
    left: 77%;
  }
}

.p-news {
  padding-top: 110px;
  text-align: center;
  position: relative;
}

.p-news h2 {
  padding-top: 15px;
}

.p-news__campaignimg img {
  padding-top: 50px;
  width: 65%;
}

.p-news__garland1 img {
  width: 22%;
  height: auto;
  position: absolute;
  top: 0;
  right: 75%;
}

.p-news__garland2 img {
  width: 22%;
  height: auto;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  position: absolute;
  top: 0;
  left: 75%;
}

@media (max-width: 1365px) {
  .p-news {
    /* 横幅が1365px以下の場合に適用するスタイル */
  }
  .p-news__campaignimg img {
    width: 95%;
  }
}

.p-access {
  text-align: center;
  background-color: #f6ce54;
  position: relative;
}

.p-access h2 {
  padding-top: 55px;
  border-bottom: 3px dotted #fff;
  margin-bottom: 55px;
}

.p-access h3 {
  font-size: 1.2em;
  padding: 0 50px;
}

.p-access__txt {
  text-align: center;
}

.p-access__txt p {
  padding-left: 10px;
  font-size: 0.8em;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 2em;
}

.p-access__shop1, .p-access__shop2 {
  width: 57.5%;
  background-color: #fff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-access__shop1 {
  padding: 65px 50px 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.p-access__shop2 {
  padding: 50px 50px 65px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.p-access__honeycomb1 img {
  width: 22%;
  position: absolute;
  top: 3%;
  left: 0;
}

@media (max-width: 1240px) {
  .p-access {
    /* 横幅が1240px以下の場合に適用するスタイル */
  }
  .p-access__txt {
    text-align: center;
  }
  .p-access__txt p {
    padding-left: 0;
    font-size: 0.8em;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 2em;
    margin: 20px 0 50px 0;
  }
  .p-access__shop1, .p-access__shop2 {
    width: 25%;
    background-color: #fff;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .p-access {
    /* 横幅が768px以下の場合に適用するスタイル */
  }
  .p-access h3 {
    padding: 0;
  }
  .p-access__txt {
    text-align: center;
  }
  .p-access__txt p {
    padding-left: 0;
    font-size: 0.8em;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    line-height: 2em;
    margin: 20px 0 50px 0;
  }
  .p-access__shop1, .p-access__shop2 {
    width: 68%;
    background-color: #fff;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-wave {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-wave__bottom {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.c-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.c-wave .shape-fill {
  fill: #fff;
}

.c-button__white,
.c-button__white a {
  border-radius: 100vh;
  padding: 15px 110px;
  color: #f6ce54;
  background-color: #fff;
}

.c-button__white:hover,
.c-button__white a:hover {
  background-color: #3f1c00;
  color: #fff;
}

.c-button__yellow,
.c-button__yellow a {
  border-radius: 100vh;
  padding: 15px 110px;
  color: #fff;
  background-color: #f6ce54;
}

.c-button__yellow:hover,
.c-button__yellow a:hover {
  background-color: #3f1c00;
  color: #f6ce54;
}

.c-button__map,
.c-button__map a {
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  background-color: #f6ce54;
}

.c-button__map:hover,
.c-button__map a:hover {
  background-color: #3f1c00;
  color: #f6ce54;
}

.c-button__padding {
  padding: 0 50px;
}

.c-button__white__padding {
  padding-bottom: 220px;
}

.c-button__yellow__padding {
  padding: 80px 0 100px;
}
/*# sourceMappingURL=style.css.map */