.l-header{
    ul{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: flex-end;
            li{
                padding: 20px 20px 0;
                font-weight: bold;
            }
    }
}